.merlin {

	&__progress-bar {
		height: 3px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		& > span {
			display: block;
			height: 100%;
			width: 0;
			border-radius: 10px;
			background-color: $green;
			position: relative;
			overflow: hidden;
		}
	}
}
